doctype html
html
  head
    include ./includes/head.jade
    
  body
    include ./includes/navigation.jade
    div(id='placeholder', class='container')
    div(id='devicelist', class='container')
      -devicenum = 0
        - each device_array, device_name in devices
            button(class='btn btn-info', type='button', data-toggle='collapse', data-target='##{devicenum}_details')
              span(class='glyphicon glyphicon-th-list')
                div #{device_name}
            div(id='#{devicenum}_details', class='collapse', style='background-color:lavender;')
              div(class='col-sm-3')
                h4 Port
              div(class='col-sm-3')
                h4 Name
              div(class='col-sm-3')
                h4 Operational State
              div(class='col-sm-3')
                h4 Administrative State
              each device_detail_array, device_port_number in device_array
                div(class='col-sm-3')
                  div #{device_port_number}
                div(class='col-sm-3')
                  div #{device_detail_array.name}
                div(class='col-sm-3')
                  if (device_detail_array.operational == 1)
                    div Operational
                  else
                    div Non Operational
                div(class='col-sm-3')
                  if (device_detail_array.adminstate == 1)
                    div Enabled
                  else
                    div Disabled
              div(id='#{device_name}-links', class='col-sm-12')
                a(href='#') Details
            - devicenum++